<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>FoodTracker</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light" style="padding-left:20px; background-color: #96D9A5;">
	 	<a class="navbar-brand" href="/">FoodTracker 🍽️</a>
	 	<div class="navbar-nav">
	 		<ul class="navbar-nav mr-auto">
	 			<li class="nav-item">
	 				<a class="nav-link" href="/">Food list</a>
	 			</li>
	 			<li class="nav-item">
	 				<a class="nav-link active" href="/addfood">Add food</a>
	 			</li>
	 			<li class="nav-item">
	 				<a class="nav-link" href="/logout" th:action="@{/logout}" method="post">Sign out</a>
	 			</li>
	 		</ul>
	 	</div>
	</nav>
	<div class="container mt-5">
		<h1 class="mb-4">Add food</h1>
		<form th:object="${food}" th:action=@{/savefood} action="#" method="post">
			<div class="mb-3">
				<label class="form-label">Name</label>
				<input type="text" class="form-control" th:field="*{name}" />
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
			</div>
			<div class="mb-3">
				<label class="form-label">Quantity</label>
				<input type="text" class="form-control" th:field="*{quantity}" />
				<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Error</p>
			</div>
			<div class="mb-3">
				<label for="locationlist" class="form-label">Location</label>
				<select id="locationlist" th:field="*{location}" class="form-control">
					<option th:each="location : ${locations}" th:value="${location.locationid}"
						th:text="${location.locationName}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label for="typelist" class="form-label">Food type</label>
				<select id="typelist" th:field="*{foodType}" class="form-control">
					<option th:each="foodType : ${foodTypes}" th:value="${foodType.typeid}"
						th:text="${foodType.typeName}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label">Expiration date</label>
				<input type="text" class="form-control" th:field="*{expirationDate}" />
			</div>
			<div>
				<input class="btn btn-success mt-4" type="submit" value="Save"></input>
			</div>
		</form>
	</div>
</body>
</html>