<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>FoodTracker</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="margin: 50px;">
		<h1>FoodTracker 🍽️</h1>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Quantity</th>
				<th>Location</th>
				<th>Expiration date</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each = "ingredient : ${ingredients}">
				<td th:text=${ingredient.name}></td>
				<td th:text=${ingredient.quantity}></td>
				<td th:text=${ingredient.location.locationName}></td>
				<td th:text=${ingredient.expirationDate}></td>
				<td><a class="btn btn-primary">Edit</a></td>
				<td><a class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		<a class="btn btn-success" href="/addfood">Add food</a>
	</div>
</body>
</html>